* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.mycontainer {
    transition: transform 0.5s ease-in-out;
    border-top:5px solid green;
    border-bottom:5px solid blue;
    border-left: 5px solid black;
    border-right: 5px solid yellow;
    border-radius: 5px;
}

.rotate {
    transform: rotate(360deg);
  }

.review {
    background-color: #f7fcff;
}

.reviews-card {
    box-shadow: 0px 0px 37px -12px rgba(0,0,0,0.61);
    -webkit-box-shadow: 0px 0px 37px -12px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 37px -12px rgba(0,0,0,0.61);
}

.img {
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    height: 6rem !important;
    width:  6rem !important;
}

.name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: rgb(96, 96, 96);
    font-weight: 500;
    font-size: larger;
}

.bio {
    color: #71b4df;
    font-weight: 500;
    font-size: 0.9rem;
}

.reviews {
    color: rgb(148, 147, 147);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns button {
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: x-large;
    color: #71b4df;
}

button:hover {
    transform: scale(1.5);
    transition: 400ms;
}


@media  screen and (max-width: 600px) {
    .mycontainer {
        transition: transform 0.5s ease-in-out;
        border-top:5px solid green;
        border-bottom:5px solid blue;
        border-left: 5px solid black;
        border-right: 5px solid yellow;
    }
}

@media   only screen and (min-width: 480px) {
    body {
      width: 100%;
    }
  }
@media   only screen and (min-width: 400px) {
    body {
      width: 100%;
    }
  }
@media  only screen and (min-width: 768px) 
{
    body {
      width: 100%;
    }
  }
@media    only screen and (min-width: 992px) {
    body {
      width: 100%;
    }
  }
@media   only screen and (min-width: 1280px)   {
    body {
      width: 100%;
    }
  }



    
